<header>
  <h2 class="h2 article-title">Education</h2>
</header>

<section class="timeline">

  <div class="title-wrapper">
    <div class="icon-box">
      <ion-icon name="book-outline"></ion-icon>
    </div>

    <!-- <h3 class="h3">Education</h3> -->
  </div>

  <ol class="timeline-list">

    <li class="timeline-item">

      <h4 class="h4 timeline-item-title">M.S. in Economics [September 2024 - May 2026]</h4>

      <span>
        <h4><a href="https://www.sust.edu/" target="_blank" style="color: orange;">University of Maine, ME, United States</a></h4>
      </span> <br>
      
      <p class="timeline-text-custom">
        <b>CGPA: 3.8/4.0 with Outstanding International Graduate Student Award 2025-26</b> <br>
      <p class="timeline-text-custom">
        
        <br> <u> Courses:</u> Microeconomic Theory, Macroeconomic Theory, Financial Economics, Behavioral and Experimental Economics, Resource Economics and Enviorment, Time Series Econometrics etc. <font color="#FFFFFF">
      </p>
      <br>

    </li>
    <li class="timeline-item">

      <h4 class="h4 timeline-item-title">B.S.S. in Economics [January 2018 - May 2023]</h4>

      <span>
        <h4><a href="https://www.sust.edu/" target="_blank" style="color: orange;">Shahjalal University of
            Science & Technology, Sylhet</a></h4>
      </span> <br>

      <p class="timeline-text-custom">
        <b>CGPA: 3.79/4.0 with Highest Academic Distinction (Magna cum Laude)</b> <br>

        <br> <u> Courses:</u> Microeconomics, Macroeconomics, Statistics & Econometrics, Development Economics,
        International Trade, International Finance, Calculus, Mathematical Economics, Industrial Organization,
        Environment and Energy Economics, Research Methodology, etc. <font color="#FFFFFF">
      </p>
      <br>

      <p> <u>Final Year Workshop paper:</u> Impact of Foreign Direct Investment on Economic Growth: A Panel Data
        Approach among South Asian Countries (2002-2021) <font color="#FFFFFF">
      </p> <br>

    </li>
    <!--
            </li>

        <li class="timeline-item">

          <h4 class="h4 timeline-item-title">M.Sc. in Computer Science [January 2021 - December 2022]</h4>

          <span><h4><a href="https://www.uno.edu/" target="_blank" style="color: orange;">University of New Orleans, New Orleans, LA, USA</a></h4></span>
          <p class="timeline-text">
          <b>CGPA: 4.0/4.0</b>
          </p>
          <p class="timeline-text">
          <u>Thesis:</u> Analysis of Forensic Artifacts in Database Memory using Support Vector Machine<br>
          Thesis Committee: <a href="https://www.uno.edu/profile/faculty/james_wagner" target="_blank" style="color: lightgoldenrodyellow; display:inline">Dr. James Wagner,</a>
          <a href="https://www.uno.edu/profile/faculty/vassil_roussev" target="_blank" style="color: lightgoldenrodyellow; display:inline">Dr. Vassil Roussev,</a>
          <a href="https://www.uno.edu/profile/faculty/phani_vadrevu" target="_blank" style="color: lightgoldenrodyellow; display:inline">Dr. Phani Vadrevu</a>
          </p>

        </li>

        <li class="timeline-item">

          <h4 class="h4 timeline-item-title">Graduate Certificate - Machine Learning & AI [December 2022]</h4>

          <span><h4><a href="https://www.uno.edu/" target="_blank" style="color: orange;">University of New Orleans, New Orleans, LA, USA</a></h4></span>

          <p class="timeline-text">
          <b>Grade: 4.0/4.0</b> <br/>
          <u>Courses:</u> Advanced Machine Learning I (CSCI 6521), Advanced Machine Learning II (CSCI 6522), Big Data Analytics & Systems (CSCI 6250), Parallel & Scientific Computing (CSCI 6454)
          </p>

        </li>

        <li class="timeline-item">

          <h4 class="h4 timeline-item-title">Bachelor of Computer Science [February 2013 - February 2017]</h4>

          <span><h4><a href="https://www.iium.edu.my/v2/" target="_blank" style="color: orange;">International Islamic University Malaysia, Kuala Lumpur, Malaysia</a></h4></span>

          <p class="timeline-text">
          <u>Final Year Project:</u> Exploring Juju and Packaging of Services in Cloud Environments <br>
          Supervisor: <a href="https://www.iium.edu.my/directory/show/5251" target="_blank" style="color: lightgoldenrodyellow; display:inline">Dr. Rizal Bin Mohd. Nor</a>
          </p>
-->
    </li>

  </ol>

</section>
